<!DOCTYPE html>
<html>
<head>
    <title>Lista de vagas de emprego</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <h1>Lista de vagas de emprego</h1>
        {% if jobs %}
            <table class="table">
                <thead>
                    <tr>
                        <th>Título</th>
                        <th>Descrição</th>
                        <th>Empresa</th>
                        <th>Localização</th>
                    </tr>
                </thead>
                <tbody>
                    {% for job in jobs %}
                        <tr>
                            <td>{{ job['title'] }}</td>
                            <td>{{ job['description'] }}</td>
                            <td>{{ job['company'] }}</td>
                            <td>{{ job['location'] }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>Nenhuma vaga de emprego cadastrada.</p>
        {% endif %}
        <a href="/admin" class="btn btn-primary">Painel de administração</a>
    </div>
</body>
</html>
